<?xml version="1.0"?>
<launch>
	<node pkg="gpar_nanook" type="gpar_nanook_node" name="nanook_node" output="screen">
	<!-- node parameters -->
	<param name="serial_port" type="string" value="/dev/ttyACM0"/>
	<param name="publish_odom" type="bool" value="true" />

	</node>
	<!-- aqui eh ttyACM0 pq desligamos o URG_node" -->

	<!-- <node pkg="gpar_nanook" type="gpar_nanook_gps" name="nanook_gps" /> -->


	<include file="$(find gpar_lidar)/launch/lms.launch" />

	<node pkg="tf2_ros" type="static_transform_publisher" name="laser_robot" args="0 0 0.2 1.57 0 1.57 odom cloud" /> <!-- yaw pitch roll? -->


 <!--	<node pkg="gpar_lidar" type="cloud_controller_lms" name="cloud_controller_lms" output="screen" >
		<param name="input_cloud" type="str" value="cloud" /> 
	</node>

 -->
</launch>
